@model FullInfoViewModel

@using FishWithAuth.Models

@{
    ViewBag.Title = "AdminPanel";
}

<button type="button" id="createLakeBtn" class="btn btn-outline-primary col-md-12">Добавить озеро</button>
<div id="createLake"></div>
<button type="button" id="createFishBtn" class="btn btn-outline-primary col-md-12">Добавить рыбу</button>
<div id="createFish"></div>
<button type="button" id="createBoatBtn" class="btn btn-outline-primary col-md-12">Добавить лодку</button>
<div id="createBoat"></div>
<button type="button" id="createRodBtn" class="btn btn-outline-primary col-md-12">Добавить удочку</button>
<div id="createRod"></div>
<button type="button" id="createBaitBtn" class="btn btn-outline-primary col-md-12">Добавить наживку</button>
<div id="createBait"></div>
<button type="button" id="createHookBtn" class="btn btn-outline-primary col-md-12">Добавить крючок</button>
<div id="createHook"></div>

<h4>Общая информация: </h4>
<h5>Рыбы</h5>
<div class="table-class">
    @Html.Partial("FishTable", Model.Fishes)
</div>
<h5>Озера</h5>
<div class="table-class" ">
    @Html.Partial("LakeTable", Model.Lakes)
</div>
<h5>Лодки</h5>
<div class="table-class">
    @Html.Partial("BoatTable", Model.Boats)
</div>
<h5>Наживки</h5>
<div class="table-class">
    @Html.Partial("BaitsTable", Model.Baits)
</div>
<h5>Удочки</h5>
<div class="table-class">
    @Html.Partial("RodTable", Model.Rods)
</div>
<h5>Крючки</h5>
<div class="table-class">
    @Html.Partial("HooksTable", Model.Hooks)
</div>




<script>
    function clearCreateZone() {
        $("#createLake").html("");
        $("#createFish").html("");
        $("#createBoat").html("");
        $("#createRod").html("");
        $("#createBait").html("");
        $("#createHook").html("");
    }
    $('#createLakeBtn').click(function () {
        clearCreateZone()
        $.ajax(
            {
                type: 'GET',
                dataType: 'html',
                url: 'CreateLake',
                success: function (result) {
                    $("#createLake").html(result);
                },
            });

        //$('#createLake').toggle(1000)
    })
    $('#createBaitBtn').click(function () {
        clearCreateZone()
        $.ajax(
            {
                type: 'GET',
                dataType: 'html',
                url: 'CreateBait',
                success: function (result) {
                    $("#createBait").html(result);
                },
            });
        $("#createBait").chosen();
        //$('#createFish').toggle(1000)
    })
    $('#createHookBtn').click(function () {
        clearCreateZone()
        $.ajax(
            {
                type: 'GET',
                dataType: 'html',
                url: 'CreateHook',
                success: function (result) {
                    $("#createHook").html(result);
                },
            });
        $("#createHook").chosen();
        //$('#createFish').toggle(1000)
    })
    $('#createFishBtn').click(function () {
        clearCreateZone()
        $.ajax(
            {
                type: 'GET',
                dataType: 'html',
                url: 'CreateFish',
                success: function (result) {
                    $("#createFish").html(result);
                },
            });
        $("#createFish").chosen();
        //$('#createFish').toggle(1000)
    })
    $('#createBoatBtn').click(function () {
        clearCreateZone()
        $.ajax(
            {
                type: 'GET',
                dataType: 'html',
                url: 'CreateBoat',
                success: function (result) {
                    $("#createBoat").html(result);
                },
            });
        $("#createBoat").chosen();
        //$('#createBoat').toggle(1000)
    })
    $('#createRodBtn').click(function () {
        clearCreateZone()
        $.ajax(
            {
                type: 'GET',
                dataType: 'html',
                url: 'CreateRod',
                success: function (result) {
                    $("#createRod").html(result);
                },
            });
        $("#createRod").chosen();

        //$('#createRod').toggle(1000)
    })
</script>
