@model FishWithAuth.EF.Entities.Bait

@{
    ViewBag.Title = "Bait";
}


<div class="my_container">
    <div class="card_img_block">
        @Html.HiddenFor(model => model.Id)
        <img src=@Model.Image />
    </div>
    <div class="name_block">
        <h2>@Model.Name</h2>
    </div>
    <hr class="hr_card" />
    <div class="description_of_card">
        <p>@Model.Description</p>
    </div>

    <hr class="hr_card" />

    <div class="references_block">
        <div class="reference">
            <h2 class="name_of_reference">Рыба:</h2>
            <ul class="ul_references">
                @if (Model.Fishes.Any())
                {
                    foreach (var fish in Model.Fishes)
                    {
                        <li>@Html.ActionLink(fish.Name, $"Fish/{fish.Id}", "Home", new object { }, new { @class = "" })</li>
                    }
                }
                else
                {
                    <li> Информации о рыбах нет</li>
                }
            </ul>
        </div>
    </div>

    @if (Request.IsAuthenticated)
    {
        <div class="btns_of_card">
            <div class="update_card_btn">
                @Html.ActionLink("Изменить", $"UpdateFish/{Model.Id}", "Home", new object { }, new { @class = "" })
            </div>
        </div>
    }

</div>

