@model FishWithAuth.EF.Entities.Fish

@{
    ViewBag.Title = "Fish";
}
<div class="my_container">
    <div class="card_img_block">
        @Html.HiddenFor(model => model.Id)
        <img src=@Model.Image />
    </div>
    <div class="name_block">
        <h2>@Model.Name</h2>
    </div>
    <hr class="hr_card" />
    <div class="description_of_card">
        <p>@Model.Description</p>
    </div>

    <hr class="hr_card" />

    <div class="references_block">
        <div class="reference">
            <h2 class="name_of_reference">Озёра:</h2>
            <ul class="ul_references">
                @if (Model.Lakes.Any())
                {
                    foreach (var lake in Model.Lakes)
                    {
                        <li>@Html.ActionLink(@lake.Name, $"Lake/{lake.Id}", "Home", new object { }, new { @class = "" })</li>
                    }
                }
                else
                {
                    <li>Озер обитания не обнаружено</li>
                }
            </ul>
        </div>
        <div class="reference">
            <h2 class="name_of_reference">Удочки:</h2>
            <ul class="ul_references">
                @if (Model.FishRods.Any())
                {
                    foreach (var rod in Model.FishRods)
                    {
                        <li>@Html.ActionLink(rod.Name, $"Rod/{rod.Id}", "Home", new object { }, new { @class = "" })</li>
                    }
                }
                else
                {
                    <li>Удочек на которые можно поймать не обнаружено</li>
                }
            </ul>
        </div>
        <div class="reference">
            <h2 class="name_of_reference">Крючки:</h2>
            <ul class="ul_references">
                @if (Model.Hookses.Any())
                {
                    foreach (var hook in Model.Hookses)
                    {
                        <li>@Html.ActionLink(hook.Name, $"Hook/{hook.Id}", "Home", new object { }, new { @class = "" })</li>
                    }
                }
                else
                {
                    <li>Информации о крючках нет</li>
                }
            </ul>
        </div>
        <div class="reference">
            <h2 class="name_of_reference">Наживки:</h2>
            <ul class="ul_references">
                @if (Model.Baits.Any())
                {
                    foreach (var bait in Model.Baits)
                    {
                        <li>@Html.ActionLink(bait.Name, $"Bait/{bait.Id}", "Home", new object { }, new { @class = "" })</li>
                    }
                }
                else
                {
                    <li>Информации о наживках нет</li>
                }
            </ul>
        </div>
    </div>

    @if (Request.IsAuthenticated)
    {
        <div class="btns_of_card">
            <div class="update_card_btn">
                @Html.ActionLink("Изменить", $"UpdateFish/{Model.Id}", "Home", new object { }, new { @class = "" })
            </div>
        </div>
    }

</div>

