@model List<FishWithAuth.EF.Entities.FishRod>

<table class="table" id="rod-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@Html.ActionLink(@item.Name, $"Rod/{item.Id}")</td>
                <td>@item.Description</td>
                <td>
                    @using (Html.BeginForm("DeleteRod", "Home"))
                    {
                        <input type="hidden" name="Id" id="Id" value="@item.Id" />
                        <input type="submit" value="удалить" />
                    }
                </td>
            </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var table = $('#rod-table').DataTable({
            'columnDefs': [{
                'targets': [3], // column index (start from 0)
                'orderable': false, // set orderable false for selected columns
            }]
        })
        // Setup - add a text input to each footer cell
        $('#rod-table thead tr').clone(true).appendTo('#rod-table thead');
        $('#rod-table thead tr:eq(1) th').each(function (i) {
            if (i != 3) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Поиск по ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();

                    }
                });
            }
        });
    })
</script>